Options -MultiViews

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_URI} !^/v2/ [NC]
  RewriteCond %{REQUEST_URI} !^/pci-connect/ [NC]
  RewriteCond %{REQUEST_URI} !^/connect/ [NC]
  RewriteRule ^(.*)$ index.html [L]
</IfModule>